﻿
@{
    ViewBag.Title = "Вход";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.title</title>

    <!-- start: Css -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap.min.css")">

    <!-- plugins -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/font-awesome.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/simple-line-icons.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/animate.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/icheck/skins/flat/aero.css")" />
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet">
    <!-- end: Css -->

    <link rel="shortcut icon" href="@Url.Content("~/Content/img/logomi.png")">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>

<body id="mimin" class="dashboard form-signin-wrapper">

    <div class="container">

        @using (Html.BeginForm("Index", "Account", FormMethod.Post, new { @class = "form-signin" }))
        {
            <div class="panel periodic-login">
                <div class="panel-body text-center">
                    <h1 class="h1">Cloud</h1>

                    <i class="icons icon-arrow-down"></i>
                    <div class="form-group form-animate-text" style="margin-top:40px !important;">
                        <input type="text" class="form-text" required name="Login">
                        <span class="bar"></span>
                        <label>Логин</label>
                    </div>
                    <div class="form-group form-animate-text" style="margin-top:40px !important;">
                        <input type="password" class="form-text" required name="Password">
                        <span class="bar"></span>
                        <label>Пароль</label>
                    </div>
                    <label class="pull-left">
                        <input type="checkbox" class="icheck pull-left" id="#checkboxRem" name="RememberMe" value="false" /> Запомнить
                    </label>
                    <input type="submit" class="btn col-md-12" value="Войти" />
                </div>
                <div class="text-center" style="padding:5px;">
                    <a href="#">Забыли пароль? </a>
                    <a href="@Url.Action("Registration")" class="reg">| Регистрация</a>
                </div>
            </div>
        }
        <div id="inlineForm" class="col-md-12 s modal-example" style="display:none;">

        </div>
    </div>

    <!-- end: Content -->
    <!-- start: Javascript -->
    
    <script src="@Url.Content("~/Scripts/jquery.ui.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>

    <script src="@Url.Content("~/Scripts/plugins/moment.min.js")"></script>
    <script src="@Url.Content("~/Scripts/plugins/icheck.min.js")"></script>

    <!-- custom -->
    <script src="@Url.Content("~/Scripts/main.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_flat-aero',
                radioClass: 'iradio_flat-aero'
            });
        });
        $("#checkboxRem").on('change', function () {
            if ($(this).is(':checked')) {
                $(this).attr('value', 'true');
            } else {
                $(this).attr('value', 'false');
            }
        });

    </script>
    
    <!-- end: Javascript -->
</body>
</html>

