﻿@model Contract.ViewModel.ViewModelRigistrationUser
@{
    ViewBag.Title = "Регистрация";
    Layout = null;
}
<style>
    .validation-summary-valid {
        font-weight: bold;
        color: #f00;
    }
</style>
<div class="modal fade regs">
    <div class="modal-dialog">
        @using (Ajax.BeginForm("Registration","Account",new AjaxOptions {OnSuccess= "OnSuccess", OnFailure = "errorReg" },new { @class = "form-signin" }))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">@ViewBag.Title</h4>
                </div>

                <div class="modal-body">
                    <div class="errors"></div>
                    <div class="panel periodic-login">
                        <div class="panel-body text-center">
                            <div class="form-group form-animate-text editor-label" style="margin-top:40px !important;">
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-text" })
                                <span class="bar"></span>
                                <label>Email</label>
                                @Html.ValidationMessageFor(x => x.Email)
                            </div>
                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                @Html.PasswordFor(x => x.Password, new { @class = "form-text" })
                                <span class="bar"></span>
                                <label>Пароль</label>
                                @Html.ValidationMessageFor(x => x.Password)
                            </div>
                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                @Html.PasswordFor(x => x.PasswordConfirm, new { @class = "form-text" })
                                <span class="bar"></span>
                                <label>Повторите пароль</label>
                                @Html.ValidationMessageFor(x => x.PasswordConfirm)
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </div><!-- /.modal-content -->
        }
    </div><!-- /.modal-dialog -->
</div>
