﻿<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <!-- start: Css -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap.min.css")">

    <!-- plugins -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/font-awesome.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/simple-line-icons.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/mediaelementplayer.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/animate.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/fullcalendar.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/icheck/skins/flat/red.css")" />
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet">
    <!-- end: Css -->

    <link rel="shortcut icon" href="@Url.Content("~/Content/img/logomi.png")">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/knockout/knockout-3.4.0.js"></script>
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
</head>

<body id="mimin" class="dashboard">
    <!-- start: Header -->
    <nav class="navbar navbar-default header navbar-fixed-top">
        <div class="col-md-12 nav-wrapper">
            <div class="navbar-header" style="width:100%;">
                <div class="opener-left-menu is-open">
                    <span class="top"></span>
                    <span class="middle"></span>
                    <span class="bottom"></span>
                </div>
                <a href="@Url.Content("~/")" class="navbar-brand">
                    <b>Cloud</b>
                </a>



                <ul class="nav navbar-nav navbar-right user-nav">
                    <li class="dropdown avatar-dropdown">
                        <p class="name"><img src="@Url.Content("~/Content/img/avatar.jpg")" class="img-circle avatar" alt="user name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" />@User.Identity.Name</p>
                        

                        <ul class="dropdown-menu user-dropdown">
                            <li><a href="#"><span class="fa fa-user"></span> My Profile</a></li>
                            <li><a href="#"><span class="fa fa-calendar"></span> My Calendar</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="more">
                                <ul>
                                    <li><a href=""><span class="fa fa-cogs"></span></a></li>
                                    <li><a href=""><span class="fa fa-lock"></span></a></li>
                                    <li><a href="@Url.Content("~/Account/LogOff")"><span class="fa fa-power-off "></span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>
    <!-- end: Header -->

    <div class="container-fluid mimin-wrapper">

        <!-- start:Left Menu -->
        <div id="left-menu">
            <div class="sub-left-menu scroll">
                <ul class="nav nav-list">
                    <li><div class="left-bg"></div></li>
                    <li class="time">
                        <h1 class="animated fadeInLeft">21:00</h1>
                        <p class="animated fadeInRight">Sat,October 1st 2029</p>
                    </li>
                    <li><a href="#" id="myFolder">Мои файлы и папки</a></li>
                    <li><a href="#" id="SharedI">Файлы в общем доступе</a></li>
                    <li><a href="#" id="SharedMe">Файлы доступные мне</a></li>
                    <li><a href="#" id="trash">Удаленные файлы</a></li>

                </ul>
            </div>
        </div>
        <!-- end: Left Menu -->
        <!-- start: content -->
        <div id="content">


            <div class="col-md-12" style="padding:20px;">
                @RenderBody()
            </div>
        </div>
        <!-- end: content -->
        <!-- start: right menu -->
        <div id="right-menu">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#right-menu-user">
                        <span class="fa fa-comment-o fa-2x"></span>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#right-menu-notif">
                        <span class="fa fa-bell-o fa-2x"></span>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#right-menu-config">
                        <span class="fa fa-cog fa-2x"></span>
                    </a>
                </li>
            </ul>

           
        </div>
        <!-- end: right menu -->

    </div>

    <!-- start: Mobile -->
    <div id="mimin-mobile" class="reverse">
        <div class="mimin-mobile-menu-list">
            <div class="col-md-12 sub-mimin-mobile-menu-list animated fadeInLeft">
                <ul class="nav nav-list">
                    <li class="active ripple">
                    </li>
                    <li><a href="#">Мои файлы и папки</a></li>
                    <li><a href="#">Файлы в общем доступе</a></li>
                    <li><a href="#">Файлы доступные мне</a></li>
                    <li><a href="#">Удаленные файлы</a></li>
                </ul>
            </div>
        </div>
    </div>
    <button id="mimin-mobile-menu-opener" class="animated rubberBand btn btn-circle btn-danger">
        <span class="fa fa-bars"></span>
    </button>
    <!-- end: Mobile -->
    <!-- start: Javascript -->
    <script src="@Url.Content("~/Scripts/jquery.ui.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>


    <!-- plugins -->
    <script src="@Url.Content("~/Scripts/plugins/moment.min.js")"></script>
    <script src="@Url.Content("~/Scripts/plugins/icheck.min.js")"></script>
    <script src="@Url.Content("~/Scripts/plugins/fullcalendar.min.js")"></script>
    <script src="@Url.Content("~/Scripts/plugins/jquery.nicescroll.js")"></script>
    <script src="@Url.Content("~/Scripts/plugins/jquery.vmap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/plugins/maps/jquery.vmap.world.js")"></script>
    <script src="@Url.Content("~/Scripts/plugins/jquery.vmap.sampledata.js")"></script>
    <script src="@Url.Content("~/Scripts/plugins/chart.min.js")"></script>


    <!-- custom -->
    <script src="@Url.Content("~/Scripts/main.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_flat-red',
                radioClass: 'iradio_flat-red'
            });
        });
    </script>
</body>
</html>
